<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RepoWebsite-ba516660-64e5-401d-a6ab-9ec73fa206fc;AttachDbFilename=|DataDirectory|\aspnet-RepoWebsite-ba516660-64e5-401d-a6ab-9ec73fa206fc.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn"
       connectionString="Data Source=.; initial Catalog=eResturant; Integrated Security=SSPI"
       providerName="System.Data.SqlClient" />
</connectionStrings>